@import "./variables";
@import "./typography";
@import "./buttons";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
  @media (min-width: 2240px) {
    font-size: 72.9166666667%;
  }
  @media (min-width: 2560px) {
    font-size: 83.3333333333%;
  }
  @media (min-width: 2880px) {
    font-size: 93.75%;
  }
  @media (min-width: 3200px) {
    font-size: 104.166666667%;
  }
  @media (min-width: 3520px) {
    font-size: 114.583333333%;
  }
  @media (min-width: 3840px) {
    font-size: 125%;
  }
}

body {
  color: $primary-text-color;
  background-color: $primary-background;
}
