.homepage {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 0 2.4rem;
  .heroImage {
    position: relative;
    width: 50%;
    height: 50rem;
    background-color: lightgray;
		margin-left: 2.3rem;
  }
  .heroText {
    width: 50%;
    display: flex;
    flex-direction: column;
    .heroTextContent {
      width: 80%;
      margin: 0 auto;
      .buttonContainer {
        display: flex;
        :first-child {
          margin-right: 2rem;
        }
      }
    }
  }
}
