@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.sideMenuContainer {
  position: absolute;
  background-color: $primary-background;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: calc(100% - 9.8rem);
}
