@import "@styles/variables.scss";

.navbar {
  display: flex;
  width: 45%;
	height: 4.8rem;
  justify-content: space-between;
  padding: 0 2.4rem 1.8rem;
  position: relative;
  :first-of-type {
    padding-left: 5%;
  }
}

.navbar::after {
  background: #c1c1c1;
  background: linear-gradient(to right, transparent 0%, #c1c1c1 50%);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
}
