@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.navLinkContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -2rem;
  @media ($bp-sm) {
    flex-direction: row;
    height: 3.6rem;
    justify-content: space-between;
    padding: 0 2.4rem 1.8rem;
    position: relative;
		margin-top: unset;
    :first-of-type {
      margin-left: 5%;
    }
  }
  @media ($bp-md) {
    height: 4.8rem;
  }
  &::after {
    background: #c1c1c1;
    background: linear-gradient(to right, transparent 0%, #c1c1c1 50%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
  }
}
