@import "@styles/mixins.scss";

.footer {
  align-items: center;
  margin: 2.4rem;
  .socialIconsContainer {
    display: flex;
    .icon {
      height: 2.5rem;
      width: 2.5rem;
			&:first-of-type{
				margin-right: 2rem;
			}
    }
  }
}
