@import "./variables.scss";

@mixin primaryLink() {
  cursor: pointer;
  color: $primary-text-color;
	font-family: Arial, Helvetica, sans-serif;
  &:hover,
  &:focus {
    color: $primary-link-hover;
  }
  &:active {
    color: $primary-link-active;
  }
}

@mixin navLink() {
  @include primaryLink();
  font-size: 3.6rem;
  line-height: 4.4rem;
  @media ($bp-sm) {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  @media ($bp-md) {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}
